// Import page-specific CSS files here.
@import "home";


.title {
  font-family: 'Pokemon Solid', sans-serif;
  text-align: center;
  padding: 24px;
  margin: 0;
  color: black;
  font-size: 48px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100vw;
  margin: 0px 72px 0px 72px;
    a{
      text-decoration: none;
      color: black;
    }
}

.pkmn {
  text-decoration: none;
}

.pkmn-name {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
  font-style: italic;
  font-size: 30px;
  margin: 12px 0 12px 0;
}

.cards {
  border: 10px solid rgb(255,215,0);
  box-shadow: 10px 10px 15px 0px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 564px;
  max-width: 425px;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f144fa15-4001-4f05-83d9-73ad837f6bc4/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b.png');
  margin: 10px;
}

.pokemon-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
  margin-top: 48px;
}

.image-container {
  border: 10px solid rgb(255,215,0);
 background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3c54c95-8c44-4e5b-93ae-389fe559bcbf/dbxskoi-8049e489-5014-4b87-bdd5-204d8c88c55a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IzYzU0Yzk1LThjNDQtNGU1Yi05M2FlLTM4OWZlNTU5YmNiZlwvZGJ4c2tvaS04MDQ5ZTQ4OS01MDE0LTRiODctYmRkNS0yMDRkOGM4OGM1NWEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UMuZTwIXFaCY-wW1eAjt85sQDuA_7kvH762mctzWne0');
  min-height: 250px;
  min-width: 350px;
  box-shadow: 5px 5px 10px 0px black;
}

.weight {
  border-bottom: 1px solid black;
  font-size: 24px;
  margin-bottom: 10px;
}

.abilities {
  font-size: 24px;
}

.type {
  font-size: 24px;
  margin-top: 24px;
}


.ability-container {
  background-color: red;
  padding: 5px 20px 5px 20px;
  border: 5px solid rgb(207, 207, 207);
  border-radius: 1px;
  font-style: italic;
  color: rgb(207, 207, 207);
  margin-right: 12px;
}

.type-container {
  background-color: red;
  padding: 5px 20px 5px 20px;
  border: 5px solid rgb(207, 207, 207);
  border-radius: 1px;
  font-style: italic;
  color: rgb(207, 207, 207);
  margin-right: 12px;
}

.search {
  padding: 0 116px 32px;
}
